@media(max-width:768px){

}
@media(max-width:900px){

.hero-content{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

}

.hero-text h1{

font-size:2.8rem;

}

tech-grid{
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
}

.timeline::before{

left:25px;

}

.timeline-item{

gap:1rem;

}

.timeline-content{

padding:1rem;

}
}